<div id="banner">
  <h1 class="banner-title">
    Votre <strong>fournisseur-partenaire</strong> en <br> <span class="insta-word"> matières premières alimentaires.</span>
  </h1> <!-- End .banner-title -->

  <p class="banner-desc">
    <span class="hidden-xs"> Depuis 1946, la Maison Majean assure un service de livraison professionnel
    <br>
    et fournit des produits de qualité aux boulangers-patissiers traditionnels de nos régions.
    <br>
    Un suivi sur mesure, dans le respect des traditions et toujours au service du savoir-faire de nos clients.
    <br>

    </span>
    La sélection et livraison dans vos ateliers des meilleurs produits de matières premières alimentaire en boulangerie-patiserie, c'est <span class="super-social-word">notre métier.</span>
    </p>

  <button class="primary-button">
    <a href="#why"><%= t('landing.buttons.primary_button') %></a>
  </button>
</div>
