<div id="why">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="section-title">Vima, un acteur local historique</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="tututu text-center">
          <strong>VIMA</strong> est l'acronyme de Victor Majean, fondateur de VIMA S.A en 1985 et fils du créateur de l'affaire, Fernand Majean, en 1946. <br>
          Aujourd'hui encore, en 2018, la société reste familiale.
          <br><br>
          <br> En commençant historiquement avec la margarine alimentaire, notre gamme à destination des boulangers-patissiers s'est etoffée au fil des années pour couvrir aujourd'hui plus de 3000 références, en constante évolution et adaptation, mais toujours avec l'exigeance de la qualité.<br>
          On essaie
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card-type content-right">
          <%= image_tag("002-group.svg", class: "icon-card-type mlrauto-mobile") %>
          <h3>Architect</h3>
          <div class="card-type-desc">
            Are you an Instagram’s rising star or already an established
            <br>
            Architect? We will help you build an engaged online
            <br>
            community around your profile!
          </div>
          <ul>
            <li>
              <span class="right hidden-sm hidden-md hidden-lg">•</span>
              Reach more followers in your niche
              <span class="left hidden-xs">•</span>
            </li>
            <li>
              <span class="right hidden-sm hidden-md hidden-lg">•</span>
              Improve engagement on you content
              <span class="left hidden-xs">•</span>
            </li>
            <li>
              <span class="right hidden-sm hidden-md hidden-lg">•</span>
              Get recognized in your industry
              <span class="left hidden-xs">•</span>
            </li>
            <li>
              <span class="right hidden-sm hidden-md hidden-lg">•</span>
              Build a strong personal brand
              <span class="left hidden-xs">•</span>
            </li>
            <li>
              <span class="right hidden-sm hidden-md hidden-lg">•</span>
              Monetize your popularity
              <span class="left hidden-xs">•</span>
            </li>
          </ul>
          <button class="secondary-button"> <a href="#pricing">Get Started with <strong>Architect</strong></a></button>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card-type content-left">
          <%= image_tag("001-employee.svg", class: "icon-card-type mlrauto-mobile") %>
          <h3>Architecture Firm</h3>
          <div class="card-type-desc">
            Is Instagram presence just a part of your Architecture business strategy?
            <br>
            We will help you reach your target audience and drive more sales to your business!
          </div>
          <ul >
            <li><span class="right">•</span>Grow your brand’s awareness</li>
            <li><span class="right">•</span>Drive more sales to your business</li>
            <li><span class="right">•</span>Connect with Top Architects from your industry</li>
            <li><span class="right">•</span>Improve customer engagement</li>
            <li><span class="right">•</span>Expand to new markets easily</li>
          </ul>
          <button class="secondary-button"> <a href="#pricing">Get Started with <strong>Architecture Firm</strong></a></button>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
